*.dat
*.vlsv
*.silo
*.o
version.cpp
\#*\#
*~
nbproject
vlasiator
vlasiator+pat
nbproject
libraries
jemalloc*
.gitignore
eigen*
magnetosphere_*
logfile.txt
diagnostic.txt
Makefile
test.cpp
test
.vscode
*comp
papi
compression/sz
compression/zfp
sz.config
builds